<app-navbar></app-navbar>

<div class="container-fluid p-5">
  <div class="action-wrapper">
    <div class="card" style="width: 18rem">
      <div class="card-body" routerLink="/addIllness">
        <h5 class="card-title">Add Illness Infromation </h5>

        <!-- <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p> -->
      </div>
    </div>
    <div class="card" style="width: 18rem" routerLink="/addDrugInfo">
      <div class="card-body">
        <h5 class="card-title">Add Drug Information</h5>

        <!-- <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p> -->
      </div>
    </div>

    <div class="card" style="width: 18rem" routerLink="/reply">
      <div class="card-body">
        <h5 class="card-title">Reply to Post</h5>

        <!-- <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p> -->
      </div>
    </div>
  </div>
</div>
