<app-navbar></app-navbar>

<div class="container-fluid m-4">
  <div class="main-wrapper">
    <div class="post">
      <h4>Post</h4>
      <p class="h4 mb-5">{{ post.post }}?</p>
    </div>
    <div class="form-wrapper">
      <div class="form-container">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <textarea
              type="text"
              formControlName="reply"
              class="form-control"
              id="post"
              placeholder="Reply to post"
            ></textarea>
          </div>

          <button type="submit" class="btn btn-success">Reply</button>
        </form>
      </div>
    </div>

    <div class="replies-wrapper mt-4">
      <h3>Replies</h3>
      <div class="reply-item" *ngFor="let reply of replies">
        <div class="header">{{reply.date| date}}</div>
        <div class="reply-container">
          <p class="reply">
           {{reply.reply}}
          </p>
          <div class="actions">
            <button class="btn btn-danger" (click)="delete(reply.id)">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
