<app-navbar></app-navbar>

<div class="container">
  <div class="card-wrapper">
    <div class="first">
      <div class="name">
        <p>Name</p>
      </div>
      <div class="desc">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto
          officiis perferendis temporibus numquam voluptatem quod.
        </p>
      </div>
    </div>
    <div class="second">
      <div class="symptoms text-center">
        <p class="h4">l</p>
        <p class="h5 m-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, consectetur. Eos mollitia dolor consequuntur.</p>
      </div>
      <div class="recommendations text-center">
         <p class="h4">l</p>
        <p class="h5 m-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, nemo.</p>
      </div>
    </div>
  </div>
</div>
