<app-navbar></app-navbar>

<div class="container">
  <div class="card-wrapper">
    <div class="first">
      <div class="name">
        <p>{{ illness.illnessname }}</p>
      </div>
      <div class="desc">
        <p>
          {{ illness.description }}
        </p>
      </div>
    </div>
    <div class="second">
      <div class="symptoms text-center">
        <div class="heading">
          <img src="../../assets/images/symptoms.png" alt="" />
          <p class="h4">Symptoms</p>
        </div>
        <p class="h5 m-3">
          {{ illness.symptoms }}
        </p>
      </div>
      <div class="recommendations text-center">
        <div class="heading">
          <img src="../../assets/images/social-media (1).png" alt="" />
          <p class="h4">Recommendations</p>
        </div>
        <p class="h5 m-3">
          {{ illness.recommendation }}
        </p>
      </div>
    </div>
  </div>
</div>
