<app-navbar></app-navbar>

<div class="container">
  <div class="form mt-4">
    <h2>Add New Drug Infromation</h2>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <div class="form-group">
        <label for="drug_name">Drug Name</label>
        <input
          type="text"
          formControlName="drug_name"
          class="form-control"
          id="drug_name"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          type="text"
          formControlName="description"
          class="form-control"
          id="description"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="usage_information">Usage Infromation</label>
        <textarea
          type="text"
          formControlName="usage_information"
          class="form-control"
          id="usage_information"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="side_effects">Side effects</label>
        <textarea
          type="text"
          formControlName="side_effects"
          class="form-control"
          id="side_effects"
        ></textarea>
      </div>

      <div class="form-group ">
        <input
          type="file"
          formControlName="image"
          class="form-control"
          id="image"
          hidden
        />
        <label class="btn btn-outline-light m-0" for="image"
          >+ DrugImage</label
        >
      </div>

      <div class="form-group form-check">
        <input
          type="checkbox"
          formControlName="overCounter"
          class="form-check-input"
          id="overCounter"
        />
        <label class="form-check-label" for="overCounter"
          >Require prescription</label
        >
      </div>

      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
