<app-navbar></app-navbar>

<div class="container-fluid m-4">
  <div class="post-view-wrapper mt-3">
    <p class="h3 text-center">User Inquiries</p>

    <div class="overall-post-container">
      <!-- *ngFor= "let post in posts" -->
      <span class="h6">Date</span>
      <div class="post-container">
        <div class="post">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Animi, impedit!
          </p>
        </div>
        <p class="h6">User</p>
      </div>
      <hr />
    </div>
    <div class="overall-post-container">
      <!-- *ngFor= "let post in posts" -->
      <span class="h6">Date</span>
      <div class="post-container">
        <div class="post">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Animi, impedit!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
