<app-navbar></app-navbar>

<div class="container-fluid m-4">
  <div class="post-view-wrapper mt-3">
    <p class="h3 text-center">User Inquiries</p>

    <div class="overall-post-container" *ngFor="let post of posts">
      <div class="post-container">
        <span class="h6">{{ post.date | date }}</span>
        <div class="post">
          <p>{{ post.post }}?</p>
          <button class="btn btn-outline-success" (click)="reply(post.id)" >Reply</button>
        </div>
        <!-- <p class="h6">User</p> -->
      </div>
      <hr />
    </div>
  </div>
</div>
