* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: white;
  background: #030637;
  overflow-x: hidden;
  width: 100vw;
  /* background: -webkit-linear-gradient(
    to right,
    #01065e,
    #030637
  );
  background: linear-gradient(
    to right,
    #01065e,
    #030637
  ); */
}

.form {
  width: 600px;
  margin: 10px auto;
  background: #04051d;

  padding: 20px;
  border-radius: 5px;
}

.container-fluid {
  height: 100%;
}
textarea {
  height: 120px !important;
}
