<app-navbar></app-navbar>
<div class="container-fluid pt-5">
  <div class="action-wrapper">
    <div class="card" style="width: 18rem">
      <div class="card-body" routerLink="/search">
        <h5 class="card-title">Search Illness Infromation</h5>

        <!-- <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p> -->
      </div>
    </div>
    <div class="card" style="width: 18rem" routerLink="/drugSearch">
      <div class="card-body">
        <h5 class="card-title">Search Drug information</h5>

        <!-- <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p> -->
      </div>
    </div>

    <div class="card" style="width: 18rem" routerLink="/post">
      <div class="card-body">
        <h5 class="card-title">Ask a doctor</h5>

        <!-- <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p> -->
      </div>
    </div>
  </div>
</div>
